*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: Arial, Helvetica, sans-serif;
}
body{
    
    display: flex;
    justify-content: center;
    max-height: 70vh;
    height: 750px;
    flex-wrap: wrap;
}
body{
    background-image: linear-gradient(to right, rgb(20, 20, 243),
    rgb(240, 23, 23), rgb(247, 230, 137));
    float: left;
}
.container{
    width: 700x;
    padding: 35px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.container .card{
    position: relative;
    padding: 15px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border: 3px solid black;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;

}
.container .card .img{
    transition: 0.5s;
    
}
.container .h1{
    font-size: 2rem;
}
.container .card .content{
    padding: 40px;
    text-align: center;
}
.container .card .content p{
    color: rgb(0, 0, 0);
}
.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 30px;
}
h6{
    text-align: right;

}
.container .card:hover {
    background-color : #473bf0;
    color: white;
    margin-top: -30px;
    box-shadow: 2px 20px 25px rgb(17, 13, 82);
    border-color: #a28af7;
}
.container .card:hover img{
    filter: invert(1);
} 
.container .card:hover .content p{
    color: white;
} 
.container .card:hover .content a{
    color : #000000;
    background-color: white;  
}
img{
    height: 50px;
}